*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --primary-color: #32738c;
    --secondary-color: #428dab24;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}
.logo img
{
    width: 90px;
}
.logo span
{
    font-size: 28px;
    font-weight: 700;
}
.grid-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}
.card-1
{
    border-radius: 10px;
    background: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.card-1:nth-child(1)
{
    width: 80%;
}
.card-1:nth-child(3)
{
    width: 80%;
}
.card-1:nth-child(2)
{
    width: 125%;
}
.inner-card
{
    transition: all 0.3s ease;
    cursor: pointer;
}
.inner-card:hover,
.inner-card.active
{
    border-color: #32738c;
    background: #428dab17;
    box-shadow: 0px 3px 10px #428dab17;
} 
.drop-cont
{
    border-radius: 15px;
    border: 2.5px dashed rgb(150, 149, 149);
    transition: all 0.5s ease;
    cursor: pointer;
}
.drop-cont:hover,
.drop-cont.active
{
    border-color: var(--primary-color);
    background: var(--secondary-color);
}
.drop-cont:hover .inner-drop .ri-upload-cloud-2-line,
.drop-cont.active .inner-drop .ri-upload-cloud-2-line
{
    color: var(--primary-color);
    transition: all 0.5s ease;
}
.view_Conveter_Img
{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 5px;
}